<header class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse row py-0">
        <ul class="list-unstyled nav col-1">
            <li>
                <a class="nav-link px-2 m-0 text-nowrap" routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Legacy Pixels</span>
                </a>
            </li>
        </ul>
        <ul class=" d-none d-sm-inline-flex list-unstyled nav justify-content-around ml-auto col-xl-7 col-lg-8 col-md-9 col-md-10 col-11">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Krish</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Photography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Videography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container book-style">
    <div class="row py-4">
        <div class="col-md-6 col-12">
            <h3>Looking out...</h3>
            <div class="image-wrapper">
                <img src="./assets/img/manoj.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-12">
            <h3>Say cheese...</h3>
            <div class="image-wrapper">
                <img src="./assets/img/cmr-naveen.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h3>Reaching for the light...</h3>
            <div class="image-wrapper">
                <img src="./assets/img/light.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-12">
            <h3>Sunset...</h3>
            <div class="image-wrapper">
                <img src="./assets/img/sunset.jpg" alt="" />
            </div>
        </div>
    </div>
</div>