<header class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse row py-0">
        <ul class="list-unstyled nav col-1">
            <li>
                <a class="nav-link p-0 m-0" routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Legacy Pixels</span>
                </a>
            </li>
        </ul>
        <ul class="list-unstyled nav justify-content-around ml-auto col-xl-7 col-lg-8 col-md-9 col-md-10 col-11">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Krish</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Photography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Videography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container book-style">
    <div class="row">
        <div class="col-6">
            <h1>Looking out...</h1>
            <div class="image-wrapper">
                <img src="./assets/img/manoj.jpg" alt="" width="100%" />
            </div>
        </div>

        <div class="col-6">
            <h1>Say cheese...</h1>
            <div class="image-wrapper">
                <img src="./assets/img/cmr-naveen.jpg" alt="" width="100%" />
            </div>
        </div>
        <div class="col-6">
            <h1>Reaching for the light...</h1>
            <div class="image-wrapper">
                <img src="./assets/img/light.jpg" alt="" width="100%" />
            </div>
        </div>

        <div class="col-6">
            <h1>Sunset...</h1>
            <div class="image-wrapper">
                <img src="./assets/img/sunset.jpg" alt="" width="100%" />
            </div>
        </div>
    </div>
</div>