@import "~styles/variables";
.image-wrapper {
    border: 5px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 30px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    @include media-breakpoint-down(md) {
        height: 250px;
    }
    @include media-breakpoint-down(sm) {
        height: 200px;
    }
    @include media-breakpoint-down(xs) {
        height: 250px;
    }
}