
// $nav-link: $white;

$theme-colors: map-merge((
  // "white":    color('white')
), $theme-colors);


$nav-link-color: theme-color("dark");
$nav-link-hover-color: darken($nav-link-color, 15%);
$nav-link-hover-decoration: none;

