/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap_cutstom";
@import "variables";

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Rondalo";
    src: url("../assets/fonts/Rondalo_.eot?") format("eot"), url("../assets/fonts/Rondalo_.woff") format("woff"), url("../assets/fonts/Rondalo_.ttf") format("truetype"), url("../assets/fonts/Rondalo_.svg#Rondalo") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Rondalo";
}
body {
    background-image: url('../assets/img/red-grad.png');
    background-size: 50%;
    color: #fff368;
    // background-blend-mode: soft-light;
    // background-color: #d23046;
}
header {
    // box-shadow: 0px 5px 10px #232323;
    img {
        filter: invert(1);
    }
}
.book-style {
    background: rgba(0, 255, 255, 0.43);
    border-radius: 5px;
    box-shadow: 5px 5px 20px #202020;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: calc(100vh - 150px);
}
.nav-link {
    padding: 5px 10px;
    margin: 15px 10px;
    color: $nav-link-color;
    font-weight: bold;
    height: 35px;
    &:hover {
        color: $nav-link-hover-bg-color;
        border-bottom: 2px solid $nav-link-hover-bg-color;
        // color: inherit;
        // box-shadow: inset 1px 1px 5px #5a5a5a;
    }
}
