<!-- <header class="bg-dark">
    <nav class="container">
        <ul class="d-flex justify-content-around list-unstyled">
            <li class="py-4"><a class="p-4 text-light" routerLink="/legacy-pixels">Legacy Pixels</a></li>
            <li class="py-4"><a class="p-4 text-light" routerLink="/funvilla-outlet">Funvilla's</a></li>
            <li class="py-4"><a class="p-4 text-light" >Stories</a></li>
            <li class="py-4"><a class="p-4 text-light" >UI Development</a></li>
            <li class="py-4"><a class="p-4 text-light" >Misc</a></li>
            <li class="py-4"><a class="p-4 text-light" >Contact</a></li>
        </ul>
    </nav>
</header> -->


<router-outlet></router-outlet>