<header class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-white row py-0">
        <ul class="list-unstyled nav col-1">
            <li>
                <a routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Funvilla's</span>
                </a>
            </li>
        </ul>
        <ul class="list-unstyled nav justify-content-around ml-auto col-xl-7 col-lg-8 col-md-9 col-md-10 col-11">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                    <!-- <img src="./assets/img/Krishna.png" alt="" width="70px" /> -->
                    <span>Krish</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<div style="height:calc( 100vh - 60px );" class="align-items-center d-flex w-100 justify-content-center flex-wrap">
    <div class="text-center">
        <h1 class="text-danger">Funvilla's</h1>
        <br>
        <h2 class="text-info">coming soon....</h2>
    </div>
</div>
